#----------------------------------------------------------
# Application Main Configurations
#----------------------------------------------------------
.env
docker-compose.yml
phpunit.xml

#----------------------------------------------------------
# IDE
#----------------------------------------------------------
/.vscode
.editorconfig

#----------------------------------------------------------
# Ambiente
#----------------------------------------------------------
/.vagrant
Homestead.json
Homestead.yaml

#----------------------------------------------------------
# Diversos
#----------------------------------------------------------
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/export/*
/vendor
npm-debug.log
yarn-error.log
